<div class="about-form">
	<div class="container">
		<div class="row">
			<h2>このサイトについて</h2>
			<p>このサイトでは読書の記録を行います。</p>
			<p>読書の状態を4つのステータスで分け、本棚に格納することが可能です。</p>
			<p>最後にこのサイトは読書した本の感想またはアウトプットの練習を目的としており、理由のない批判・中傷せずご利用ください。</p>
		</div>
	</div>
</div>
